
.contact{
    margin-top: 0.6875rem;
}
.post{
    width: 80%;
    margin: 2rem auto;
    background-color: rgb(226, 226, 231);
    border-radius: 0.5rem;
    padding: 1.1rem;
}

.question{
    margin-left:10rem;
}
.que{
    color: rgba(27, 27, 27, 0.837);
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}
.problem{
    color: rgba(0, 0, 0, 0.775);
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 0.0625rem;
    float: left;
    font-size: 2.5rem;
}
.pre_k {
    font-size: 1.5rem;
    margin: 5rem 0 2rem 1.8rem;
}
ul{
    margin: 0.5rem 0 0.5rem 2rem;
}
.code_h{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    margin: 0 0 0 1.8rem;
}
.c_code{
    background-color: #1e1e1e;
    border-radius: 0.25rem;
    width: 90%;
    margin: 0.2rem auto;
    padding: 0.5rem 1.5rem;
    white-space:pre-line;
}
@media only screen and (max-width: 600px) {
    .post{
        width:95%;
        margin:auto;
        border-radius: 0;
        padding: 0.3rem;
    }
    .problem{
        font-size: 1.5rem;
    }
    .que{
        font-size: 2rem;
    }
    .question{
        margin-left: 6rem;
    }
    .code_h {
        font-size: 1.5rem;
        margin: 0 0 0 0.2rem;
    }
    .c_code{
        margin: 0 auto;
        padding: 0.4rem 1rem;
    }
    .pre_k {
        font-size: 1rem;
        margin: 5rem 0 2rem 0.2rem;
    }
}