
.contact{
    margin-top: 0.6875rem;
}
.post{
    width: 80%;
    margin: 2rem auto;
    background-color: rgb(226, 226, 231);
    border-radius: 0.5rem;
}
.sol_content{
    padding: 1.1rem;
}
.question{
    margin-left:8rem;
}
.que{
    color: rgba(27, 27, 27, 0.837);
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}
.problem{
    color: rgba(0, 0, 0, 0.775);
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 0.0625rem;
    float: left;
    font-size: 2rem;
}
.c_code{
    background-color: #1e1e1e;
    border-radius: 0.25rem;
    width: 90%;
    margin: 0 auto;
    padding-left: 1.5rem;
    white-space:pre-line;
}
@media only screen and (max-width: 600px) {
    .post{
        width:100%;
        margin:auto;
        border-radius: 0;
    }
    .problem{
        font-size: 1rem;
    }
    .que{
        font-size: 1.5rem;
    }
    .question{
        margin-left: 4rem;
    }
}